StepFunction.json
{
  "StartAt": "Create File",
  "States": {
    "Create File": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:123456789012:function:CreateFileFunction",
      "ResultPath": "$.guid",
      "Next": "Create Segment",
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ]
    },
    "Create Segment": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:123456789012:function:CreateSegmentFunction",
      "InputPath": "$.guid",
      "ResultPath": "$.segment",
      "Next": "Wait For Segment",
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ]
    },
    "Wait For Segment": {
      "Type": "Wait",
      "SecondsPath": "$.segment.wait_time",
      "Next": "Get Segment Status"
    },
    "Get Segment Status": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:123456789012:function:CheckStatusFunction",
      "Next": "Segment Created?",
      "InputPath": "$.segment",
      "ResultPath": "$.status",
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ]
    },
    "Segment Created?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.status",
          "StringEquals": "FAILED",
          "Next": "Slack"
        },
        {
          "Variable": "$.status",
          "StringEquals": "SUCCEEDED",
          "Next": "Create Campaign"
        }
      ],
      "Default": "Wait For Segment"
    },
    "Slack": {
      "Type": "Fail",
      "Cause": "AWS Batch Job Failed",
      "Error": "DescribeJob returned FAILED"
    },
    "Create Campaign": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:123456789012:function:CreateCampaginFunction",
      "ResultPath": "$.campaign",
      "Next": "Create Campaign Report"
    },
    "Create Campaign Report": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:123456789012:function:CreateRecordsFunction",
      "End": true
    }
  }
}
